* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #f3f3f3;
}
:root {
  --COLOR-PRIMARY: #16a34a;
  --COLOR-SECONDARY: #bbf7d0;
  --COLOR-WHITE: rgb(255, 255, 255);
  --RED-COLOR: rgb(231, 34, 34);
}
